.audio-container.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;
    text-align: center;
}

.audio-container {
    display: grid;
    background-color: #333;
    color: whitesmoke;
    padding: 5px 0;
}

.audio-container .audio-button {
    cursor: pointer;
}

.audio-container .audio-info {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.audio-container .audio-controls {
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

.audio-container .audio-current-time {
    text-align: right;
    padding-right: 10px;
    grid-column: 1;
    grid-row: 1;
}

.audio-container .audio-duration-time {
    text-align: left;
    padding-left: 10px;
    grid-column: 3;
    grid-row: 1;
}

.audio-container .audio-progress {
    grid-column: 2;
    grid-row: 1;
    align-content: center;
}

.audio-container .audio-buttons {
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 2;
}