.audio-progress-bar-component {
    position: relative;
    height: 1vh;
    cursor: pointer;
}

.audio-progress-bar-component .background {
    position: absolute;
    height: 1vh;
    width: 100%;
    margin: 0.2vh 0;
    background-color: #555766;
    border-radius: 1vh;
}

.audio-progress-bar-component .fill {
    position: absolute;
    height: 1vh;
    margin: 0.1vh 0;
    background-color: #fe6060;
    border-radius: 1vh;
}

.audio-progress-bar-component .seeker {
    position: absolute;
    background-color: white;
    margin-left: -1vh;
    margin-top: -0.5vh;
    width: 2vh;
    height: 2vh;
    border-radius: 1vh;
}