.audio-progress-bar-component {
    position: relative;
    height: 1vh;
    cursor: pointer;
}

.audio-progress-bar-component .background {
    position: absolute;
    height: 0.5vh;
    width: 100%;
    margin: 0.2vh 0;
    background-color: #666;
    border-radius: 1vh;
}

.audio-progress-bar-component .fill {
    position: absolute;
    height: 0.7vh;
    margin: 0.1vh 0;
    background-color: #1ed760;
    border-radius: 1vh;
}

.audio-progress-bar-component .seeker {
    position: absolute;
    background-color: white;
    margin-left: -0.75vh;
    margin-top: -0.4vh;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 1vh;
}