.playlist-details-component .info {
    display: flex;
    height: 13vh;
    padding: 2vh;
    background-color: #232323;
    border-radius: 1vh;
}

.playlist-details-component .info img {
    height: 100%;
    border-radius: 1vh;
    object-fit: cover;
    width: 13vh;
}

.playlist-details-component .info .title {
    flex-grow: 1;
    align-content: center;
    padding-left: 3vw;
    font-size: 1.5rem;
}

.playlist-details-component .tracks {
    padding-top: 1vh;
}

.playlist-details-component .tracks .track-item {
    display: flex;
    padding: 1vh;
    border-radius: 1vh;
    user-select: none;
    cursor: pointer;
}

.playlist-details-component .tracks .track-item:hover {
    display: flex;
    padding: 1vh;
    border-radius: 1vh;
    background-color: #232323;
}

.playlist-details-component .tracks .track-item.active {
    outline: 0.2vh solid #1ed760;
    color: #1ed760;
}

.playlist-details-component .tracks .track-item span {
    align-content: center;
    flex-grow: 1;
    padding-left: 1vw;
}

.playlist-details-component .tracks .track-item svg {
    flex-shrink: 0;
}