.playlist-item-component {
    padding: 1vh;
    display: flex;
    border-radius: 0.5vw;
    color: #f6f6f6;
    cursor: pointer;
}

.playlist-item-component:hover {
    background-color: #232323;
}

.playlist-item-component.active {
    outline: 0.2vh solid #1ed760;
    color: #1ed760;
}

.playlist-item-component .image img {
    display: block;
    border-radius: 0.5vw;
    width: 5vh;
    height: 5vh;
    object-fit: cover;
}

.playlist-item-component .playlist-name {
    padding-left: 1vw;
    flex-grow: 1;
    align-content: center;
}

@media (width <=768px) {
    .playlist-item-component .playlist-name {
        display: none;
    }
}

@media (width > 768px) {
    .playlist-item-component .image {
        max-width: 5vw;
    }
}