.playlist-details-component {}

.playlist-details-component .info {
    display: flex;
    height: 13vh;
    padding: 3vh;
}

.playlist-details-component .info img {
    height: 100%;
    border-radius: 1vw;
    box-shadow: 5px 5px 5px #0008;
}

.playlist-details-component .info .title {
    flex-grow: 1;
    align-content: center;
    padding-left: 3vw;
    font-size: xxx-large;
}

.playlist-details-component .tracks {
    background-color: #0005;
}

.playlist-details-component .tracks .track-item {
    padding: 1vh 1vw;
    display: flex;
}

.playlist-details-component .tracks .track-item.active {
    background: linear-gradient(90deg, #333647 0%, transparent 100%);
}

.playlist-details-component .tracks .track-item span {
    align-content: center;
    flex-grow: 1;
    padding-left: 1vw;
}