html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container .content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.main-container .content .playlists {
    width: 30vw;
    background-color: #121212;
}

.main-container .content .details {
    flex-grow: 1;
}